# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Composer related
/vendor
composer.phar
composer.lock


# Laravel related
_ide_helper.php
.env.*.php
.env.php