# Open
alias open=dolphin

# Colored cat
alias cat=ccat

# Directory aliases
alias ..="cd .."
alias h='cd ~'
alias c='cd ~/code'
alias ll='ls -aslh'

# Git aliases
alias got='git '
alias god='git '
alias gs='git status '
alias ga='git add '
alias gb='git branch '
alias gc='git commit -m '

# Dev aliases
alias artisan='php artisan'

# PHP aliases
alias phpx="php -a"

# Meteo aliases
alias meteo=weather

# The Matrix
alias matrix=cmatrix
