# Laravel Homestead
function homestead() {
    ( cd ~/Homestead && vagrant $* )
}

# Return the meteo of the city
function weather() {
    curl wttr.in/${1:-Montreal}"?m"
}
function meteo() {
    curl wttr.in/${1:-Montreal}"?m"
}


