# Vagrant things
function centiva() {
    if [ "$#" -eq  "0" ]
      then
        cd ~/code/centiva_vagrant/centiva
    else
        ( cd ~/code/centiva_vagrant && vagrant $* )
    fi
}
function hydrogene() {
    if [ "$#" -eq  "0" ]
      then
        cd ~/code/hydrogene_vagrant/admin.hydrogene.io
    else
        ( cd ~/code/hydrogene_vagrant && vagrant $* )
    fi
}
function stockiste() {
    if [ "$#" -eq  "0" ]
      then
        cd ~/code/stockiste
    else
        ( cd ~/code/stockiste/vagrant && vagrant $* )
    fi
}

# Return the meteo of the city
function weather() {
    curl wttr.in/${1:-Montreal}"?m"
}


